{% extends "layout.html.twig" %}

{% block content %}
      {{user.name}} 
      {% if user.role_id == 1 %} 

        <p>reportero</p>
      {% endif %}

      <img src="{{user.photo_url}}"/>
{% endblock %}
