{% extends "layout.html.twig" %}

{% block body_class %}home-body{% endblock %}

{% block content %}
  <div class="background-canvas" aria-hidden="true"></div>

  <section class="home-hero">
    <div class="home-hero__inner">
      <h1 class="home-hero__title">
        <img src="/favicon.png" alt="Logo TaPasandoRD" class="home-hero__logo" />
        TaPasandoRD
      </h1>

      <p class="home-hero__desc">
        Plataforma colaborativa para reportar, validar y visualizar incidencias recientes en tiempo real, fortaleciendo la transparencia y seguridad en República Dominicana.
      </p>

      <div class="home-hero__actions">
        <a href="#" class="home-btn home-btn--primary">
          Ir al Mapa
          <i class="fa-solid fa-arrow-right"></i>
        </a>

        <a href="#" class="home-btn home-btn--secondary">
          Reportar Nueva incidencia
        </a>
      </div>
    </div>
  </section>
{% endblock %}